{minimum_otp_vsn, "29"}.
{erl_opts, [debug_info]}.
{deps, [
    {uuid, {git, "https://github.com/okeuday/uuid.git", {tag, "v2.0.7.1"}}},
    {pgo,
        % Contains upstream dialyzer fixes
        % can use erleans/pgo when these are merged,
        % - https://github.com/erleans/pgo/pull/129
        % - https://github.com/erleans/pgo/pull/135
        {git, "https://github.com/chiroptical/pgo",
            {ref, "ad293eadf9c34cc68b9c8b2b9c8c45919798f947"}}}
]}.
{profiles, [
    {examples, [
        {src_dirs, ["src", "scripts"]},
        {extra_src_dirs, ["examples"]},
        {escript_name, generate_examples},
        {escript_emu_args, "%%! -escript main generate_examples\n"}
    ]}
]}.
{dialyzer, [
    {plt_extra_apps, [uuid, ssl, public_key, pgo, pg_types, syntax_tools]},
    {warnings, [missing_return]}
]}.
