{erl_opts, [debug_info]}.
{deps, [
    {uuid, {git, "https://github.com/okeuday/uuid.git", {tag, "v2.0.7.1"}}},
    {pgo,
        % Contains an upstream dialyzer fix
        % can use erleans/pgo when https://github.com/erleans/pgo/pull/129 is merged
        {git, "https://github.com/chiroptical/pgo",
            {ref, "4a06cc9a6c0a52ac5d9584ddf0644831623a4dd1"}}}
]}.
{project_plugins, [
    {erlfmt, {git, "https://github.com/WhatsApp/erlfmt", {tag, "v1.8.0"}}}
]}.
{dialyzer, [
    {plt_extra_apps, [uuid, ssl, pgo, pg_types]}
]}.
